body {
  margin-left: 30%;
  padding: 0;
  font-family: sans-serif;
}

h2 {
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 10px;
  display: inline-block;
  vertical-align: middle;
}

#contact-form {
  margin-top: 40px;
  margin-right: 50%;
}

#contact {
  margin-top: 20px;
}

#no-contact-msg {
  margin-top: 20px;
}

#add-contact-button {
  margin-left: 20%;
  margin-top: 15px;
}

#submit-contact-button {
  margin-top: 5px;
}

a {
  color: blue;
}

.list-group-item {
  width: 60%;
}

#return-to-contacts {
  margin-left: 5px;
}

#edit-link {
  position: absolute;
  right: 65px;
  
}

#delete-link {
  position: absolute;
  right: 5px;
}

#contact-edit-form {
  margin-top: 40px;
  margin-right: 50%;
}



