

#home-page {
    padding: 50px 20px 200px;
    background: url("../images/old_rolodex_card.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

h1 {
    font-size: 70px;
}

#add-contact-link {
    margin: auto;
}


#add-contact-button {
    margin: auto;
    padding: .5em;
    background-color: transparent;
    color: #BA0202;
    border: 2px solid #BA0202;
    font-size: 25px;
    font-weight: bold;
}

#add-contact-button:hover {
    color: #003F88;
    border-color: #003F88;

}


