.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 15s linear;
  height: 60px;
}

.App-header {
  width: 75%;
  text-align:center;
  background-color: #444;
  height: 75px;
  padding-bottom: 35px;
  margin-top: 5px;
  margin-bottom: 5px;
  color: #EEE;
  margin-left: 12.5%;
}

.App-title {
  font-size: 1.2em;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
