.App {
  text-align: center;
}

.error {
  color: red;
}

#app-container {
  margin-top: 50px;
}

.contact-cover {
  padding: 10px;
  font-size: 18px;
  border-right: 1px solid #ababab;
}

.contact-cover a {
  color: #565656;
}

.contact-cover:hover {
  background-color: silver;
}

.button-wrapper {
  margin-right: 10px;
  display: inline-block;
  float: left;
}

.contact-row {
  margin-bottom: 10px;
  border: 1px solid #ababab;
}

.add-contact-button-wrapper {
  margin-bottom: 10px;
}

#add-contact-form {
  display: block;
  text-align: left;
}

#add-contact-form input {
  width: 100%;
  display: block;
  padding: 10px;
  border-radius: 5px;
  margin: 5px 0;
  border: 1px solid #ababab;
}

.add-contact-form-buttons {
  text-align: center;
  padding: 10px;
}
.add-contact-form-buttons button {
  margin-right: 5px;
}

.add- #individual-contact-info {
  padding: 10px;
}

.contact-pic {
  width: 150px;
}
