body {
  margin-left: 25%;
  padding: 0;
  font-family: sans-serif;
}

h1 {
  margin-top: 20px;
  display: inline-block;
  vertical-align: middle;
}

button {
  margin-left: 20px;
  margin-top: 15px;
}

a {
  color: black;
}

.list-group-item {
  width: 50%;
}
